{% extends "app/base_site.html" %}

{% block title %} Registro de Clientes {% endblock title %}

{% block content %}
  <div class="right_col" role="main">
    <!--<div class="">-->
      <div class="page-title">
        <div class="title_left">
          <h3>Ingreso de Cliente</h3>
        </div>
        <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">



           <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Large modal</button>

            <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">

                  <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                    </button>

                    <h4 class="modal-title" id="myModalLabel">Ingreso de Cliente</h4>

                  </div>

                    <div class="modal-body">

                        <form class="form-horizontal form-label-left" method="post"  id="clienteForm">
                            {% csrf_token %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                        <div class="clearfix ">
                            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                {{ form.nombre }}
                                <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                <span id="helpBlock" class="help-block with-errors">{{ form.nombre.help_text }} {{ form.nombre.errors }}</span>
                            </div>


                            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                {{ form.apellido }}<span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                                <div class="help-block with-errors">{{ form.apellido.errors }}</div>
                            </div>
                        </div>
                        <div class="clearfix ">
                            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                            {{ form.correo }}<span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                                <div class="help-block with-errors">{{ form.correo.errors }}</div>
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                             {{ form.numero_telefono }}<span class="fa fa-phone form-control-feedback right" aria-hidden="true"></span>
                                <div class="help-block with-errors">{{ form.numero_telefono.errors }}</div>
                            </div>
                        </div>
                        <div class="clearfix ">
                             <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                             {{ form.numero_cel }}<span class="fa fa-mobile form-control-feedback left" aria-hidden="true"></span>
                             <div class="help-block with-errors">{{ form.numero_cel.errors }}</div>
                             </div>

                             <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                              {{ form.fecha_nacimiento }}<span class="fa fa-calendar form-control-feedback right" aria-hidden="true"></span>
                                 <div class="help-block with-errors">{{ form.fecha_nacimiento.errors }}</div>
                             </div>
                        </div>
                            <div class="clearfix ">
                            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                {{ form.cedula }}<span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                <div class="help-block with-errors">{{ form.cedula.errors }}</div>
                            </div>

                              <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                  {{ form.direccion }}<span class="fa fa-home form-control-feedback right" aria-hidden="true"></span>
                            </div>
                            </div>
                            <span class="col-xs-12 col-sm-12 col-md-12 left">
                                <label class="control-label">Vehiculo</label>
                            </span>
                            <div class="input-group col-xs-12 col-sm-12 col-md-12">
                            {{ form.vehiculo}}

                            <div class="input-group-btn">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                  <span class="glyphicon glyphicon-option-horizontal"></span>
                              </button>
                              <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                {% if form.vehiculo.data  %}
                                  <li>
                                      <a href="#" d>Ver</a>
                                  </li>
                                {% endif %}
                                {% if not form.vehiculo.data  %}
                                  <li>
                                      <a href="#">Agregar</a>
                                </li>
                              {% endif %}
                              </ul>
                            </div>
                            <!-- /btn-group -->
                          </div>


                                       <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                <input type="submit" class="btn btn-primary" form="clienteForm" value="Guardar" >
                              </div>
                            </form>

                </div>
                </div>
              </div>
            </div>




            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
  <!-- validator -->
   <script src="/static/vendors/validator/validator.js"></script>
    <!--input mask-->
    <script src="/static/vendors/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>

{% endblock javascripts %}
