{% extends "app/base_site.html" %}

{% block title %} Ingreso de Préstamo {% endblock title %}

{% block content %}
  <div class="right_col" role="main">
    <!--<div class="">-->
      <div class="page-title">
        <div class="title_left">
          <h3>Ingreso de Préstamo</h3>
        </div>
        <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">

                <form class="form-horizontal form-label-right" novalidate>

           <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Large modal</button>

            <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">

                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Ingreso de Préstamo</h4>
                  </div>
                  <div class="modal-body">
                      <form class="form-horizontal form-label-left input_mask">

                         <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="totalintereses">No. de Préstamo
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="totalintereses" class="form-control col-md-7 col-xs-12" name="totalintereses" disabled>
                  </div>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                  <input type="text" class="form-control has-feedback-left" id="inputSuccess1" placeholder="Cliente Asociado" required="required">
                  <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                  <input type="text" class="form-control" id="inputSuccess2" placeholder="Vehículo Asociado">
                  <span class="fa fa-car form-control-feedback right" aria-hidden="true"></span>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                  <input type="text" class="form-control has-feedback-left" id="inputSuccess3" placeholder="Usuario">
                  <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                  <input type="text" class="form-control" id="inputSuccess4" placeholder="Fecha Actual">
                  <span class="fa fa-calendar form-control-feedback right" aria-hidden="true"></span>
                </div>


                 <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                  <input type="text" class="form-control has-feedback-left" id="inputSuccess5" placeholder="Fecha de primer pago">
                  <span class="fa fa-calendar form-control-feedback left" aria-hidden="true"></span>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                  <input type="text" class="form-control" id="inputSuccess6" placeholder="Cantidad Prestada">
                  <span class="fa fa-money form-control-feedback right" aria-hidden="true"></span>
                </div>

                 <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                  <input type="text" class="form-control has-feedback-left" id="inputSuccess7" placeholder="Tasa de Interés">
                  <span class="fa fa-info form-control-feedback left" aria-hidden="true"></span>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                  <input type="text" class="form-control" id="inputSuccess8" placeholder="Monto capital" disabled>
                  <span class="fa fa-money form-control-feedback right" aria-hidden="true"></span>
                </div>

                  <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                  <input type="text" class="form-control has-feedback-left" id="inputSuccess9" placeholder="Monto Interés" disabled>
                  <span class="fa fa-money form-control-feedback left" aria-hidden="true"></span>
                </div>

                 <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                  <input type="text" class="form-control" id="inputSuccess10" placeholder="Monto Total" disabled>
                  <span class="fa fa-money form-control-feedback right" aria-hidden="true"></span>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Tipo de préstamo</label>
                  <div class="col-md-9 col-sm-9 col-xs-12">
                    <select class="form-control">
                      <option>Seleccione una opción</option>
                      <option>Interés</option>
                      <option>Capital</option>
                      <option>Amortizado</option>
                      <option>Capital + Interés</option>
                    </select>
                  </div>
                </div>

                  <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Frecuencia de pago</label>
                  <div class="col-md-9 col-sm-9 col-xs-12">
                    <select class="form-control">
                      <option>Seleccione una opción</option>
                      <option>Semanal</option>
                      <option>Quincenal</option>
                      <option>Mensual</option>
                    </select>
                  </div>
                </div>

                     <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary">Guardar Cambios</button>
                  </div>
                </form>
                </div>
                </div>
              </div>
                </div>
                </form>
            </div>
          </div>
        </div>
      </div>



    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
  <!-- validator -->
  <script src="/static/vendors/validator/validator.js"></script>
{% endblock javascripts %}



