{% extends "app/base_site.html" %}

{% block title %} Registro de prestamos {% endblock title %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>Registro de Préstamo</h3>
        </div>
        <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">

            <div class="clearfix"></div>
            </div>&ndash;&gt;
            <div class="x_content">

             <form class="form-horizontal form-label-right" novalidate>


               <!--&lt;!&ndash;<span class="section">Datos del Vehículo</span>&ndash;&gt;-->

                <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="cliente">Cliente Asociado <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="cliente" class="form-control col-md-7 col-xs-12"  data-validate-words="1" nombre="nombre"  required="required" type="text">
                  </div>
                </div>
                 <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="vehiculo">Vehículo Asociado <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="vehiculo" class="form-control col-md-7 col-xs-12"  vehiculo="vehiculo"  required="required" type="text">
                  </div>
                </div>
                 <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="fecha">Fecha Actual<span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                   <input type="date" id="fecha" name="fecha" required="required"  class="form-control col-md-7 col-xs-12">
                  </div>
                </div>

                  <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="fecha">Fecha de Primer Pago<span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                   <input type="date" id="fecha" name="fecha" required="required"  class="form-control col-md-7 col-xs-12">
                  </div>
                </div>

                <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="number">Cantidad Prestada <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="number" id="number" name="cantidad" required="required"  class="form-control col-md-7 col-xs-12">
                  </div>
                </div>




                  <!-- Start to do list -->
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2>Días de pagos semanales</h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Settings 1</a>
                      </li>
                      <li><a href="#">Settings 2</a>
                      </li>
                    </ul>
                  </li>
                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">

                <div class="">
                  <ul class="to_do">
                    <li>
                      <p>
                        <input type="checkbox" class="flat"> Lunes </p>
                    </li>
                    <li>
                      <p>
                        <input type="checkbox" class="flat"> Martes</p>
                    </li>
                    <li>
                      <p>
                        <input type="checkbox" class="flat"> Miércoles</p>
                    </li>
                    <li>
                      <p>
                        <input type="checkbox" class="flat"> Jueves</p>
                    </li>
                    <li>
                      <p>
                        <input type="checkbox" class="flat"> Viernes</p>
                    </li>
                    <li>
                      <p>
                        <input type="checkbox" class="flat"> Sábado</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>



                <div class="item form-group">
                  <label for="valoracion" class="control-label col-md-3">Tasa de Interés<span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="valoracion" type="number" name="valoracion" data-validate-length="0,9999999999" class="form-control col-md-7 col-xs-12" required="required">
                  </div>
                </div>



                  <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="number">Monto Capital<span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                   <input type="number" id="number" name="number" required="required" data-validate-minmax="0,9999" class="form-control col-md-7 col-xs-12">
                  </div>
                </div>




                  <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="number">Monto Total<span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                   <input type="number" id="number" name="number" required="required" data-validate-minmax="0,9999" class="form-control col-md-7 col-xs-12">
                  </div>
                </div>

                  <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="number">Fecha de Último Pago<span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                   <input type="date" id="number" name="number" required="required" data-validate-minmax="0,9999" class="form-control col-md-7 col-xs-12">
                  </div>
                </div>


                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Frecuencia de Pago</label>

                  <div class="col-md-9 col-sm-9 col-xs-12">

                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" class="flat" checked name="iCheck"> Semanal
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" class="flat" name="iCheck"> Quincenal
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" class="flat" name="iCheck"> Mensual
                      </label>
                    </div>
                    <div class="radio">

                    </div>
                  </div>
                </div>

              <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Tipo de Préstamo</label>
                  <div class="col-md-9 col-sm-9 col-xs-12">
                    <select class="form-control">
                      <option>Seleccione una opción</option>
                      <option>Interés</option>
                      <option>Capital</option>
                      <option>Interés+Capital</option>
                      <option>Amortizado</option>
                    </select>
                  </div>
                </div>



                    <div class="ln_solid"></div>
                <div class="form-group">
                  <div class="col-md-6 col-md-offset-3">
                    <button type="submit" class="btn btn-primary">Cancelar</button>
                    <button id="send" type="submit" class="btn btn-success">Guardar</button>
                  </div>
                </div>
            </div>
             </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
  <!-- validator -->
  <script src="/static/vendors/validator/validator.js"></script>
{% endblock javascripts %}




{% extends "app/base_site.html" %}

{% block title %} Registro de Prestamos{% endblock title %}

{% block content %}
  <div class="right_col" role="main">
    <!--<div class="">-->
      <div class="page-title">
        <div class="title_left">
          <h3>Ingreso de Vehículo</h3>
        </div>
        <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">

                <form class="form-horizontal form-label-right" novalidate>

           <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Large modal</button>

            <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">

                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Ingreso de Vehículo</h4>
                  </div>
                  <div class="modal-body">
                      <form class="form-horizontal form-label-left input_mask">

                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                  <input type="text" class="form-control has-feedback-left" id="inputSuccess1" placeholder="Cliente Asociado">
                  <span class="fa fa-folder form-control-feedback left" aria-hidden="true" class="required">*</span>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                  <input type="text" class="form-control" id="inputSuccess2" placeholder=Vehículo Asociado">
                  <span class="fa fa-user form-control-feedback right" aria-hidden="true" class="required">*</span>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                  <input type="text" class="form-control has-feedback-left" id="inputSuccess3" placeholder="Fecha Actual">
                  <span class="fa fa-calendar form-control-feedback left" aria-hidden="true"class="required">*</span>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                  <input type="text" class="form-control" id="inputSuccess4" placeholder="Fecha Primer Pago">
                  <span class="fa fa-phone form-control-feedback right" aria-hidden="true" class="required">*</span>
                </div>


                 <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                  <input type="text" class="form-control has-feedback-left" id="inputSuccess5" placeholder="Monto Prestado">
                  <span class="fa fa-info form-control-feedback left" aria-hidden="true" class="required">*</span>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                  <input type="text" class="form-control" id="inputSuccess6" placeholder="Valoración Actual">
                  <span class="fa fa-money form-control-feedback right" aria-hidden="true" class="required">*</span>
                </div>

                  <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Tipo <span class="required">*</span></label>
                  <div class="col-md-9 col-sm-9 col-xs-12">
                    <select class="form-control">
                      <option>Seleccione una opción</option>
                      <option>Carro</option>
                      <option>Camion</option>
                      <option>Jeepeta</option>
                    </select>
                  </div>
                </div>
            </div>
         </div>


                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary">Guardar Cambios</button>
                  </div>

                </div>
              </div>
            </form>



              <!--  <div class="ln_solid"></div>
                <div class="form-group">
                  <div class="col-md-6 col-md-offset-3">
                    <button type="submit" class="btn btn-primary">Cancelar</button>
                    <button id="send" type="submit" class="btn btn-success">Guardar</button>
                  </div>
                </div>-->

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
  <!-- validator -->
  <script src="/static/vendors/validator/validator.js"></script>
{% endblock javascripts %}
