{% extends "app/base_site.html" %}

{% block title %} Dashboard 1 {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <!--&lt;!&ndash; top tiles &ndash;&gt;-->
    <div class="row tile_count">
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-money"></i> Préstamos Saldados</span>
        <div class="count green">4</div>
        <!--<span class="count_bottom"><i class="green">4% </i> From last Week</span>-->
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-clock-o"></i> Por Cobrar</span>
        <div class="count yellow">11</div>
        <!--<span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>3% </i> From last Week</span>-->
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-check"></i> Préstamos Creados</span>
        <div class="count green">6</div>
        <!--<span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>-->
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-flag"></i> Préstamos Ilegales</span>
        <div class="count red">9</div>
        <!--<span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>12% </i> From last Week</span>-->
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-credit-card"></i> Depósitos Bancarios</span>
        <div class="count">13</div>
        <!--<span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>-->
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Préstamos Atrasados</span>
        <div class="count red">6</div>
        <!--<span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>-->
      </div>
    </div>


    <div class="row">




          <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Préstamos recientes</h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                  </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>

            <div class="x_content">



              <div class="table-responsive">
                <table class="table table-striped jambo_table bulk_action">
                  <thead>
                    <tr class="headings">
                      <th>
                        <input type="checkbox" id="check-all" class="flat">
                      </th>
                      <th class="column-title">No. Préstamo </th>
                      <th class="column-title">Fecha de realización </th>
                      <th class="column-title">Cuotas</th>
                      <th class="column-title">Cliente</th>
                      <th class="column-title">Estado</th>
                      <th class="column-title">Monto </th>
                      <th class="column-title no-link last"><span class="nobr">Acción</span>
                      </th>
                      <th class="bulk-actions" colspan="7">
                        <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                      </th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr class="even pointer">
                      <td class="a-center ">
                        <input type="checkbox" class="flat" name="table_records">
                      </td>
                      <td class=" ">121000040</td>
                      <td class=" ">May 23, 2014 11:47:56 PM </td>
                      <td class=" ">121000210 <i class="success fa fa-long-arrow-up"></i></td>
                      <td class=" ">John Blank L</td>
                      <td class=" ">Ilegal</td>
                      <td class="a-right a-right ">$7.45</td>
                      <td class=" last"><a href="#">Ver</a>
                      </td>
                    </tr>
                    <tr class="odd pointer">
                      <td class="a-center ">
                        <input type="checkbox" class="flat" name="table_records">
                      </td>
                      <td class=" ">121000039</td>
                      <td class=" ">May 23, 2014 11:30:12 PM</td>
                      <td class=" ">121000208 <i class="success fa fa-long-arrow-up"></i>
                      </td>
                      <td class=" ">John Blank L</td>
                      <td class=" ">Ilegal</td>
                      <td class="a-right a-right ">$741.20</td>
                      <td class=" last"><a href="#">Ver</a>
                      </td>
                    </tr>
                    <tr class="even pointer">
                      <td class="a-center ">
                        <input type="checkbox" class="flat" name="table_records">
                      </td>
                      <td class=" ">121000038</td>
                      <td class=" ">May 24, 2014 10:55:33 PM</td>
                      <td class=" ">121000203 <i class="success fa fa-long-arrow-up"></i>
                      </td>
                      <td class=" ">Mike Smith</td>
                      <td class=" ">Atrasado</td>
                      <td class="a-right a-right ">$432.26</td>
                      <td class=" last"><a href="#">Ver</a>
                      </td>
                    </tr>
                    <tr class="odd pointer">
                      <td class="a-center ">
                        <input type="checkbox" class="flat" name="table_records">
                      </td>
                      <td class=" ">121000037</td>
                      <td class=" ">May 24, 2014 10:52:44 PM</td>
                      <td class=" ">121000204</td>
                      <td class=" ">Mike Smith</td>
                      <td class=" ">Atrasado</td>
                      <td class="a-right a-right ">$333.21</td>
                      <td class=" last"><a href="#">Ver</a>
                      </td>
                    </tr>
                    <tr class="even pointer">
                      <td class="a-center ">
                        <input type="checkbox" class="flat" name="table_records">
                      </td>
                      <td class=" ">121000040</td>
                      <td class=" ">May 24, 2014 11:47:56 PM </td>
                      <td class=" ">121000210</td>
                      <td class=" ">John Blank L</td>
                      <td class=" ">Pagado</td>
                      <td class="a-right a-right ">$7.45</td>
                      <td class=" last"><a href="#">Ver</a>
                      </td>
                    </tr>
                    <tr class="odd pointer">
                      <td class="a-center ">
                        <input type="checkbox" class="flat" name="table_records">
                      </td>
                      <td class=" ">121000039</td>
                      <td class=" ">May 26, 2014 11:30:12 PM</td>
                      <td class=" ">121000208 <i class="error fa fa-long-arrow-down"></i>
                      </td>
                      <td class=" ">John Blank L</td>
                      <td class=" ">Pagado</td>
                      <td class="a-right a-right ">$741.20</td>
                      <td class=" last"><a href="#">Ver</a>
                      </td>
                    </tr>
                    <tr class="even pointer">
                      <td class="a-center ">
                        <input type="checkbox" class="flat" name="table_records">
                      </td>
                      <td class=" ">121000038</td>
                      <td class=" ">May 26, 2014 10:55:33 PM</td>
                      <td class=" ">121000203</td>
                      <td class=" ">Mike Smith</td>
                      <td class=" ">Pagado</td>
                      <td class="a-right a-right ">$432.26</td>
                      <td class=" last"><a href="#">Ver</a>
                      </td>
                    </tr>
                    <tr class="odd pointer">
                      <td class="a-center ">
                        <input type="checkbox" class="flat" name="table_records">
                      </td>
                      <td class=" ">121000037</td>
                      <td class=" ">May 26, 2014 10:52:44 PM</td>
                      <td class=" ">121000204</td>
                      <td class=" ">Mike Smith</td>
                      <td class=" ">Vigente</td>
                      <td class="a-right a-right ">$333.21</td>
                      <td class=" last"><a href="#">Ver</a>
                      </td>
                    </tr>

                    <tr class="even pointer">
                      <td class="a-center ">
                        <input type="checkbox" class="flat" name="table_records">
                      </td>
                      <td class=" ">121000040</td>
                      <td class=" ">May 27, 2014 11:47:56 PM </td>
                      <td class=" ">121000210</td>
                      <td class=" ">John Blank L</td>
                      <td class=" ">Vigente</td>
                      <td class="a-right a-right ">$7.45</td>
                      <td class=" last"><a href="#">Ver</a>
                      </td>
                    </tr>
                    <tr class="odd pointer">
                      <td class="a-center ">
                        <input type="checkbox" class="flat" name="table_records">
                      </td>
                      <td class=" ">121000039</td>
                      <td class=" ">May 28, 2014 11:30:12 PM</td>
                      <td class=" ">121000208</td>
                      <td class=" ">John Blank L</td>
                      <td class=" ">Vigente</td>
                      <td class="a-right a-right ">$741.20</td>
                      <td class=" last"><a href="#">Ver</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>


          <!-- start of weather widget -->
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel">

              <div class="x_content">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="temperature"><b>Miércoles</b>, 12:11 AM
                      <span>F</span>
                      <span><b>C</b></span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-4">
                    <div class="weather-icon">
                      <canvas height="84" width="84" id="partly-cloudy-day"></canvas>
                    </div>
                  </div>
                  <div class="col-sm-8">
                    <div class="weather-text">
                      <h2>Santiago de los Caballeros <br><i>Parcialmente nublado</i></h2>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="weather-text pull-right">
                    <h3 class="degrees">26</h3>
                  </div>
                </div>

                <div class="clearfix"></div>

                <div class="row weather-days">
                  <div class="col-sm-2">
                    <div class="daily-weather">
                      <h2 class="day">Lun</h2>
                      <h3 class="degrees">25</h3>
                      <canvas id="clear-day" width="32" height="32"></canvas>
                      <h5>15 <i>km/h</i></h5>
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="daily-weather">
                      <h2 class="day">Mar</h2>
                      <h3 class="degrees">25</h3>
                      <canvas height="32" width="32" id="rain"></canvas>
                      <h5>12 <i>km/h</i></h5>
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="daily-weather">
                      <h2 class="day">Mie</h2>
                      <h3 class="degrees">27</h3>
                      <canvas height="32" width="32" id="snow"></canvas>
                      <h5>14 <i>km/h</i></h5>
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="daily-weather">
                      <h2 class="day">Jue</h2>
                      <h3 class="degrees">28</h3>
                      <canvas height="32" width="32" id="sleet"></canvas>
                      <h5>15 <i>km/h</i></h5>
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="daily-weather">
                      <h2 class="day">Vie</h2>
                      <h3 class="degrees">28</h3>
                      <canvas height="32" width="32" id="wind"></canvas>
                      <h5>11 <i>km/h</i></h5>
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="daily-weather">
                      <h2 class="day">Sab</h2>
                      <h3 class="degrees">26</h3>
                      <canvas height="32" width="32" id="cloudy"></canvas>
                      <h5>10 <i>km/h</i></h5>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>

          </div>
          <!-- end of weather widget -->

         <!-- Start to do list -->
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2>Recordatorios<small>Ejemplos</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Settings 1</a>
                      </li>
                      <li><a href="#">Settings 2</a>
                      </li>
                    </ul>
                  </li>
                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">

                <div class="">
                  <ul class="to_do">
                    <li>
                      <p>
                        <input type="checkbox" class="flat"> Meeting con X cliente </p>
                    </li>
                    <li>
                      <p>
                        <input type="checkbox" class="flat"> Revisar Cuenta Bancaria</p>
                    </li>
                    <li>
                      <p>
                        <input type="checkbox" class="flat"> Actualizar Depósitos de clientes</p>
                    </li>
                    <li>
                      <p>
                        <input type="checkbox" class="flat"> Llamar al banco</p>
                    </li>
                    <li>
                      <p>
                        <input type="checkbox" class="flat"> Revisar estado de préstamos</p>
                    </li>
                    <li>
                      <p>
                        <input type="checkbox" class="flat"> Llamar a clientes atrasados</p>
                    </li>
                    <li>
                      <p>
                        <input type="checkbox" class="flat"> Verificar estados de préstamos</p>
                    </li>
                    <!--<li>
                      <p>
                        <input type="checkbox" class="flat"> Revisar condición de vehículos para aprobación</p>
                    </li>
                    <li>
                      <p>
                        <input type="checkbox" class="flat">préstamos pendientes</p>
                    </li>-->
                  </ul>
                </div>
              </div>
            </div>
          </div>



        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super}}
  <!-- Chart.js -->
  <script src="/static/vendors/Chart.js/dist/Chart.min.js"></script>
  <!-- gauge.js -->
  <script src="/static/vendors/gauge.js/dist/gauge.min.js"></script>
  <!-- Skycons -->
  <script src="/static/vendors/skycons/skycons.js"></script>
  <!-- Flot -->
  <script src="/static/vendors/Flot/jquery.flot.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.pie.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.time.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.stack.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.resize.js"></script>
  <!-- Flot plugins -->
  <script src="/static/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
  <script src="/static/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
  <script src="/static/vendors/flot.curvedlines/curvedLines.js"></script>
  <!-- DateJS -->
  <script src="/static/vendors/DateJS/build/date.js"></script>
  <!-- JQVMap -->
  <script src="/static/vendors/jqvmap/dist/jquery.vmap.js"></script>
  <script src="/static/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
  <script src="/static/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
{% endblock javascripts %}
