<div class="left_col scroll-view">
  <div class="navbar nav_title" style="border: 0;">
    <a href="index.html" class="site_title"><i class="fa fa-paypal"></i> <span>Inv. Peniche</span></a>
  </div>

  <div class="clearfix"></div>

  <!-- menu profile quick info -->
  <div class="profile clearfix">
    <div class="profile_pic">
      <img src="/static/images/img.jpg" alt="..." class="img-circle profile_img">
    </div>
    <div class="profile_info">
      <span>Bienvenido,</span>
      <h2>USUARIO</h2>
    </div>
  </div>
  <!-- /menu profile quick info -->

  <br />

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <h3>General</h3>
      <ul class="nav side-menu">
        <li><a><i class="fa fa-home"></i> Inicio <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="index.html">Timeline</a></li>
            <li><a href="login_user.html">Perfil de Usuario</a></li>
            <li><a href="index3.html">Configuración</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-users"></i> Clientes <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="{% url 'inversiones_peniche:cliente-add' %}">Ingresar Cliente</a></li>
            <li><a href="cliente_form.html">Modificar Cliente</a></li>
            <li><a href="form_validation.html">Préstamos asociados</a></li>
           <!-- <li><a href="form_wizards.html">Form Wizard</a></li>
            <li><a href="form_upload.html">Form Upload</a></li>
            <li><a href="form_buttons.html">Form Buttons</a></li>-->
          </ul>
        </li>

         <li><a><i class="fa fa-car"></i> Vehículos <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="form_vehiculo.html">Ingresar Vehículo</a></li>
            <li><a href="tables_dynamic.html">Modificar Vehículo</a></li>
             <li><a href="tables_dynamic.html">Vehículos asociados a clientes</a></li>
          </ul>
        </li>

        <li><a><i class="fa fa-money"></i> Préstamos <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="form_prestamos.html">Crear Préstamo</a></li>
            <li><a href="media_gallery.html">Modificar Préstamo</a></li>
            <li><a href="typography.html">Cálculo de Préstamo</a></li>
            <li><a href="icons.html">Acuerdo de Pago</a></li>
            <li><a href="glyphicons.html">Liquidación de Préstamo</a></li>
          <li><a href="widgets.html">Cálculo de amortización</a></li>
           <!-- <li><a href="invoice.html">Invoice</a></li>
            <li><a href="inbox.html">Inbox</a></li>
            <li><a href="calendar.html">Calendar</a></li>-->
          </ul>
        </li>

        <li><a><i class="fa fa-list"></i> Listados <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="chartjs.html">Recibos al Cobro</a></li>
            <li><a href="chartjs2.html">Recibos despues del Cobro</a></li>
            <li><a href="morisjs.html">Estados de Cuentas</a></li>
            <li><a href="echarts.html">Historial de cuentas</a></li>
            <li><a href="other_charts.html">Relación de Ingresos</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-clone"></i>Utilidades <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="fixed_sidebar.html">Internet</a></li>
            <li><a href="fixed_footer.html">Calculadora</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="menu_section">
      <h3>Live On</h3>
      <ul class="nav side-menu">
        <li><a><i class="fa fa-bug"></i> Páginas Útiles <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="e_commerce.html">E-commerce</a></li>
            <li><a href="projects.html">Projects</a></li>
            <li><a href="project_detail.html">Project Detail</a></li>
            <li><a href="contacts.html">Contacts</a></li>
            <li><a href="profile.html">Profile</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-windows"></i> Extras <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="page_403.html">403 Error</a></li>
            <li><a href="page_404.html">404 Error</a></li>
            <li><a href="page_500.html">500 Error</a></li>
            <li><a href="plain_page.html">Plain Page</a></li>
            <li><a href="login.html">Login Page</a></li>
            <li><a href="pricing_tables.html">Pricing Tables</a></li>
          </ul>
        </li>
       <!-- <li><a><i class="fa fa-sitemap"></i> Multilevel Menu <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
              <li><a href="#level1_1">Level One</a>
              <li><a>Level One<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                  <li class="sub_menu"><a href="level2.html">Level Two</a>
                  </li>
                  <li><a href="#level2_1">Level Two</a>
                  </li>
                  <li><a href="#level2_2">Level Two</a>
                  </li>
                </ul>
              </li>
              <li><a href="#level1_2">Level One</a>
              </li>
          </ul>
        </li>-->
        <!--<li><a href="javascript:void(0)"><i class="fa fa-laptop"></i> Landing Page <span class="label label-success pull-right">Coming Soon</span></a></li>-->
      </ul>
    </div>
  </div>
     </div>
  <!-- /sidebar menu -->

  <!-- /menu footer buttons -->
<!-- <div class="sidebar-footer hidden-small">
    <a data-toggle="tooltip" data-placement="top" title="Settings">
      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="FullScreen">
      <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Lock">
      <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
      <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
    </a>
  </div>-->
  <!-- /menu footer buttons
</div>-->

      <!--  <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">&ndash;&gt;
              <div class="modal-dialog modal-lg">
                <div class="modal-content">

                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Ingreso de Cliente</h4>
                  </div>
                    <div class="modal-body">
                    &lt;!&ndash;<h4>Text in a modal</h4>&ndash;&gt;
                    &lt;!&ndash;<p> &ndash;&gt;
                    <form class="form-horizontal form-label-left input_mask">
                &lt;!&ndash;<p align="left">Requerido(*)</p>&ndash;&gt;

                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                  <input type="text" class="form-control has-feedback-left" id="inputSuccess1" placeholder="Nombre">
                  <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                  <input type="text" class="form-control" id="inputSuccess2" placeholder="Apellido">
                  <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                  <input type="text" class="form-control has-feedback-left" id="inputSuccess3" placeholder="Email">
                  <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                  <input type="text" class="form-control" id="inputSuccess4" placeholder="Teléfono">
                  <span class="fa fa-phone form-control-feedback right" aria-hidden="true"></span>
                </div>


                 <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                  <input type="text" class="form-control has-feedback-left" id="inputSuccess5" placeholder="Fecha de Nacimiento">
                  <span class="fa fa-calendar form-control-feedback left" aria-hidden="true"></span>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                  <input type="text" class="form-control" id="inputSuccess6" placeholder="Cédula de Identidad">
                  <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                  <input type="text" class="form-control has-feedback-left" id="inputSuccess7" placeholder="Dirección">
                  <span class="fa fa-address form-control-feedback left" aria-hidden="true"></span>
                </div>



                &lt;!&ndash;<div class="ln_solid"></div>
                <div class="form-group">
                  <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                    <button type="button" class="btn btn-primary">Cancelar</button>
  		   <button class="btn btn-primary" type="reset">Resetear</button>
                    <button type="submit" class="btn btn-success">Guardar</button>
                  </div>
                </div>&ndash;&gt;

              </form>
            </div>
          </div>
         &lt;!&ndash;</form>&ndash;&gt;

                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary">Guardar Cambios</button>
                  </div>

                </div>
              </div>
            </div>-->


